/.git/
/.idea/
/1431/
_notes/
/vendor/
/mapco_shop_de/.idea/
/mapco_shop_de/.git/
/mapco_shop_de/catalog/
/mapco_shop_de/components/
/mapco_shop_de/files/
/mapco_shop_de/files_edit/
/mapco_shop_de/files_thumbnail/
/mapco_shop_de/fotos57/
/mapco_shop_de/images/
/mapco_shop_de/mysqldumper/
/mapco_shop_de/player/
/mapco_shop_de/soa/
/mapco_shop_de/temp/
/mapco_shop_de/templates/
/mapco_shop_de/modules/

*.csv
*.zip
*.LCK
*.dat
*.pdf
*.tmp
*.DDD
