#does not work with hetzner
#php_value memory_limit 512M
php_value session.gc_maxlifetime 90000

#bug fix for Resource interpreted as Image but transferred with MIME type application/octet-stream
AddType image/vnd.microsoft.icon .cur .ico

# RewriteEngine On
# RewriteCond %{REQUEST_URI} !^/$
# RewriteCond %{REQUEST_FILENAME}
# RewriteRule ^(.*)$ index.php?url=$1 [L,NC,QSA]
# RewriteRule ^(.*) http://www.baustelle.redirect301.de/index.html? [R=302,L]

#redirect all requests to index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,NC,QSA]

#remove phpsessid on googlebot requests
RewriteCond %{HTTP_USER_AGENT} Googlebot
RewriteRule ^(.*[^/])?/?PHPSESSID/[^/]+$ http://%{HTTP_HOST}/$1 [L,R=301]

#cms_connections_blacklist
Deny from 87.193.155.209
Deny from 62.219.8.227
Deny from 85.178.125.84
Deny from 199.195.129.110
Deny from 63.223.126.202
Deny from 199.19.73.168
Deny from 199.195.129.43
Deny from 173.208.97.80
Deny from 108.62.59.181
Deny from 89.204.155.146
Deny from 79.240.232.116
Deny from 95.209.47.77
Deny from 37.187.44.90
Deny from 37.187.44.90
Deny from 84.173.22.44
Deny from 88.70.147.54
Deny from 93.218.11.141
